params {
	

	// ----------------- General --------------------------------

	workingDir = '/jumbo/WorkingDir/B19-001/Intermediate/validation/sim_data/all_3' // Working directory path
	tc_hunter_path = '/jumbo/WorkingDir/B19-001/TC_hunter' // TC_hunter path 	
	construct_file = '/jumbo/WorkingDir/B19-001/Intermediate/validation/sim_data/all_3/construct.txt' // file

	construct_length = 8700 // number
	construct_name = 'ORC6' // Name 
	mapq = 10 // mapping quality threshold for soft clipped links 




	// ----------------- TC_hunter.nf ------------------------

	// Add path to joint reference file plus bam file
	bam = '/jumbo/WorkingDir/B19-001/Intermediate/validation/sim_data/all_3/bam/bam_40_60/*bam' // path to bam folder with an asterix e.g. bamfiles/*bam
	reference = '/jumbo/WorkingDir/B19-001/Intermediate/validation/sim_data/all_3/JointRefGenome.fasta' // concatenated fasta file




	// ----------------- TC_hunter_BWA.nf --------------------------------

	// Add path to fastq-files. If you're running several samples at the same time, add path to directory with folders of specific samples. If you're running one samples at a time; add the path to folder containing fastq-files. 

	bwa_threads = 8 // number of threads to use when running bwa mem (per run)

	host_reference = '/jumbo/WorkingDir/B19-001/Intermediate/validation/sim_data/fasta/genome.fa' // /jumbo/WorkingDir/B19-001/Intermediate/validation/sim_data/fasta/genome.fa fasta file
	construct_ref = '/jumbo/WorkingDir/B19-001/Intermediate/validation/sim_data/fasta/orc6.fa' // /jumbo/WorkingDir/B19-001/Intermediate/validation/sim_data/fasta/orc6.fa fasta file

	folder = '' // folder with samples 
	sample = '' // folder with R1.fa + R2.fa

}

