params {
	
	// ----------------- General --------------------------------

	workingDir = 'M4_samples/out' // Working directory path
	tc_hunter_path = '/home/user/TC_hunter' // TC_hunter path 	
	construct_file = 'M4_samples/construct_M4.txt' // file

	construct_length = 9400 // number
	construct_name = 'T_scan_out' // Name 
	mapq = 10 // mapping quality threshold for soft clipped links 
	supporting_reads = 1




	// ----------------- TC_hunter.nf ------------------------

	bwa_threads = 24

	// Add path to joint reference file plus bam file
	bam = // path to bam folder with an asterix e.g. bamfiles/*
	reference =  // joint reference fasta file (host+construct)



	// ----------------- TC_hunter_BWA.nf --------------------------------

	// Add path to fastq-files. If you're running several samples at the same time, add path to directory with folders of specific samples. If you're running one samples at a time; add the path to folder containing fastq-files. 

	bwa_threads = 24

	host_reference = '/home/user/Ref/Mouse/genome.fa' // fasta file 
	construct_ref = '/home/user/Ref/Construct/construct.fasta' // fasta file 

	folder = '/home/user/M4_samples/fastq' // If several samples; folder with sample-folders 
	sample = '' // I single sample; sfolder with R1.fa + R2.fa

}




