params {
	
	// ----------------- General --------------------------------

	workingDir = '/jumbo/WorkingDir/B19-001/Intermediate/M4_all_20211001/out_bam' // Working directory path
	tc_hunter_path = '/jumbo/WorkingDir/B19-001/TC_hunter' // TC_hunter path 	
	construct_file = '/jumbo/WorkingDir/B19-001/Intermediate/M4_all_20211001/construct.txt' // file

	construct_length = 9400 // number
	construct_name = 'T_scan_out' // Name 
	mapq = 10 // mapping quality threshold for soft clipped links 
	supporting_reads = 1




	// ----------------- TC_hunter.nf ------------------------

	bwa_threads = 24

	// Add path to joint reference file plus bam file
	bam = '/jumbo/WorkingDir/B19-001/Intermediate/M4_all_20211001/out/bam/*' // '/jumbo/WorkingDir/B19-001/Intermediate/downsamples/down_10/*bam'  path to bam folder with an asterix e.g. bamfiles/*
	reference = '/jumbo/WorkingDir/B19-001/Intermediate/M4_all_20211001/out/JointRefGenome.fasta' // joint reference fasta file (host+construct)




	// ----------------- TC_hunter_BWA.nf --------------------------------

	// Add path to fastq-files. If you're running several samples at the same time, add path to directory with folders of specific samples. If you're running one samples at a time; add the path to folder containing fastq-files. 

	host_reference = '/jumbo/WorkingDir/B19-001/Data/Raw/Ref/genome.fa' // fasta file (/jumbo/WorkingDir/B19-001/Data/Raw/Ref/genome.fa)
	construct_ref = '/jumbo/WorkingDir/B18-005/db/construct_revised.fasta' // fasta file (/jumbo/WorkingDir/B19-001/Intermediate/M4_all/tc_hunter_frombam)

	folder = '/jumbo/WorkingDir/B19-001/Intermediate/M4_20210701/fastq' // If several samples; folder with sample-folders (/jumbo/WorkingDir/B19-001/Data/Raw/Samples)
	sample = '' // I single sample; sfolder with R1.fa + R2.fa

}




